{% extends 'base.html' %}

{% block title %} Sign In {% endblock title%}

{%block content%}


<h1>Sign In</h1>
<form method="post">
    {%csrf_token%}
    {{ form.as_p}}
    <button type = 'submit'>Login</button>
</form>
<body>
  {% comment %} <h1>Da Daily Memes by Saul, Niccolo and Julian</h1>
  <h2>WE DID IT BABY!!!<h2>
      we bouta go HARD
      <h3>Reviews</h3>
      <h4>I LOVE THIS WEBSITE, CURED MY DEPRESSION! -Andrea <h4>
      <h5>To Cure your depression, just click below! </h5>
      {% url 'signup' as signup_url %}
      <a href="{{signup_url}}">Sign Up</a>
      <h4>I LOVE THIS WEBSITE, CURED MY DEPRESSION! -Andrea <h4> {% endcomment %}
</body>



{% endblock %}