<!-- templates/base.html -->
{%load static%}


<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> {% block title %} DaDailyMemes {% endblock title%} </title>
    </head>
    <body >
        {% include 'navbar.html'%}

        <img src=
                "{%static 'theme/images/logo.png'%}"
                alt="DADAILYMEMES_TITLE"
                width = "500px"
                height = "250px"
                style="overflow:hidden; position:relative; top:20px; left:425px;
                 border-radius: 30%; border-color: black; background-color:grey;"
        > 


        >
        <!-- dab -->
        <main>
            {%block content%}



            {% endblock %}
        </main>
    </body>
</html>
