{% extends 'base.html' %}
{%load static%}

{% block title %} Home {% endblock title%}

{%block content%}
<!-- Template homepage, index.html -->

<body>
  <img src=
        "{%static 'theme/images/signin.png'%}"
        class = "w3-circle"
        alt="Sign in button"
        width = 300
        height = 300
        align = "left"
        >
<img src=
        "{%static 'theme/images/signup.png'%}"
        class = "w3-circle"
        alt="Sign up button"
        width = 300
        height = 300
        align= "right"

</body>
{% comment %}
<h1>
  Da Daily Memes
</h1>
<body>
  <h1>Da Daily Memes by Saul, Niccolo and Julian</h1>
  <h2>WE DID IT BABY!!!<h2>
      we bouta go HARD



      <button> "click here"</button>
</body> {% endcomment %}


{% endblock %}
