{% extends 'base.html' %}
{%load static%}

{% block title %} Home {% endblock title%}

{%block content%}

<!-- Template homepage, index.html -->

<body>
<a href="{% url  'account:signin' %}"> 
        <img src=
                "{% static 'theme/images/signin.png' %}"
                class = "w3-circle"
                alt="Sign in button"
                width = 300px
                height = 300px
                align = "left"
                >
</a>
<a href="{% url 'account:signup' %}"> 
        <img src=
                "{% static 'theme/images/signup.png' %}"
                class = "w3-circle"
                alt="Sign up button"
                width = 300px
                height = 300px
                align= "right"
                >
</a>

</body>

{% endblock %}
