<html>
<style>
    .nav {
        background-color: #84BF1C;
        opacity: 0.6;
        padding: 20;
        border: medium solid #F3B541;
        border-radius: 8px;
        overflow: hidden;
        background-color: #333;
        font-family: Arial;
    }
    .nav a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
      }
</style>

<div class = "nav">
    {% url 'public:index' as index_url %}
    {% if request.path == index_url %}<a><u>Home</u></a>{% else%}<a href="{{ index_url }}">Home</a>{% endif %}
    {% url 'public:about' as about_url %}
    {% if request.path == about_url %}<a><u>About</u></a>{% else%}<a href="{{ about_url}}">About</a>{% endif%}
    {% url 'public:contact' as contact_url %} 
    {% if request.path == contact_url %}<a><u>Contact</u></a>{% else%}<a href="{{ contact_url }}">Contact</a>{% endif%}
     
    <span style = "float:right">
        {% if user.is_authenticated %}
        {% url 'profile' as profile_url%}

            <span>Yo, what it do {% if request.path == profile_url %}{{user.username}}!{% else %} 
                <a href="{{ profile_url }}"></a>
                 {% endif%}
            </span>
            <span><a href="{% url  'account:signout' %}">Sign Out</a></span>
        {% else %}
            <span><a href="{% url  'account:signin' %}">Sign In</a></span>
        {% endif%}
    </span>

</div>
</html>

