<html>
<style>
    .nav {
        background-color: #84BF1C;
        opacity: 0.6;
    }
</style>

<div class = "nav">
    {% url 'index' as index_url %}
    <span>{% if request.path == index_url %}Home{% else%}<a href="{{ index_url }}">Home</a>{% endif %}</span>
    {% url 'about' as about_url %}
    <span>{% if request.path == about_url %}About{% else%}<a href="{{ about_url}}">About</a>{% endif%}</span>
    {% url 'contact' as contact_url %} 
    <span>{% if request.path == contact_url %}Contact{% else%}<a href="{{ contact_url }}">Contact</a>{% endif%}</span>
    
    
    <span style = "float:right">
        {% if user.is_authenticated %}
            <span>Yo, what it do {{user.username}}!</span>
            <span><a href="{% url  'signout' %}">Sign Out</a></span>
        {% else %}
            <span><a href="{% url  'signin' %}">Sign In</a></span>
        {% endif%}
    </span>

</div>
</html>

