{% extends 'base.html' %}

{% block title %} profile {% endblock %}

{%block content%}
<!--Template Profile-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


<h1>
  {{user.username}}'s profile
</h1>

<h6 class="text-right">Edit Profile</h6>
                     </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="first name"></div>
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="Last name"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="Email" value="{{user.email}}"></div>
                        <!-- <div class="col-md-6"><input type="text" class="form-control" placeholder="Phone number(optional)" value="{{user.Phone}}"></div>
                    </div> -->
                    <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                </div>


{% endblock %}