{% extends 'base.html' %}

{% block title %} Sign In {% endblock title%}

{%block content%}
<html>
<head>

<style>
body {
    font-family: Arial, Helvetica, sans-serif;
  }
form{
    border: 3px solid #f1f1f1;
}
input[type=text],input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button{
    background-color: rgb(10,119,13);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover{
    opacity: 0.8;
}
.container{
    padding: 16px;
}
</style>
</head>
<body>

<h2>Sign In</h2>

<form methods="POST" actions=""> 
    {%csrf_token%}

<div class = "container">
   
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" 
    required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" 
    required>
   
    
    <button type="submit" >Sign In</button>
    </form>
    
    <button formaction="{% url 'account:signup' %}"> Sign Up</button>
    
</div>




{% comment %}
<h1>Sign In</h1>
<form method="post">
    {%csrf_token%}
    {{ form.as_p}}
    <button type = 'submit'>Login</button>
</form>
<body>
  <h1>Da Daily Memes by Saul, Niccolo and Julian</h1>
  <h2>WE DID IT BABY!!!<h2>
      we bouta go HARD
      <h3>Reviews</h3>
      <h4>I LOVE THIS WEBSITE, CURED MY DEPRESSION! -Andrea <h4>
      <h5>To Cure your depression, just click below! </h5>
      {% url 'account:signup' as signup_url %}
      <a href="{{signup_url}}">Sign Up</a>
      <h4>I LOVE THIS WEBSITE, CURED MY DEPRESSION! -Andrea <h4>
</body>

{% endcomment %}

{% endblock %}