{% extends 'base.html' %}

{% block title %} signup {% endblock %}

{%block content%}
<!--Template signup-->


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
            There was an error with your form...
          </div>



{% endif %}

    <div class="shadow p-4 mb-5 bg-body rounded">
    <h1>Register</h1>
<br/>


        <form action="{% url 'account:signup' %}" method=POST>
            {% csrf_token %}

            {{ form.as_p }}





<br/><br/>
            <input type="submit" value="Submit" class="btn btn-secondary">

        </form>

</div>
<br/><br/>
{% endblock %}


{% comment %}
<h1>Sign Up</h1>
<p>Just enter details to go to de quiz</p>
<hr>

<label for="email"><b>Email</b></label>
<input type="text" placeholder="Enter Email" name="email" id="email"
required>

<label for="psw"><b>Password</b></label>
<input type = "password" placeholder="Enter Password" name="psw"
required>

<label for="psw-repeat"><b>Re-enter Password</b></label>
<input type = "password" placeholder="Re-enter Password" name= "psw-repeat"
id="psw repeat" required>
<hr>

<button type = "submit" class = "registerbtn"> Register</button>
{% endcomment %}

